@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

$secondary-color--1: #fff;
$secondary-color--2: #fbf6fa;
$highlight-color--1: #ebdefc;
$highlight-color--2: #f3e3f3;
$main-color: #5d598f;
$default-color: #555;
$unavailable-color: #eee;
$error-color: #ce4545;
$completed-color: #4183c2;

$main-font: sans-serif;
$highlight-font: "WindSong", cursive;

$width-tablet-portrait-up: 600px;
$width-desktop-up: 1200px;