@use "variables";
@use "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .7s;
    overflow-wrap: break-word;
}

body{
    width: 100dvw;
    min-height: 100dvh;

    background-color: var(--secondary-color--2);
    color: var(--default-color);

    font-family: var(--main-font);
    font-size: 16px;

    @include mixins.for-desktop-up{
        padding: 2rem;
    }
}

#root{
    width: 100%;
    height: 100%;
}

img{
    max-width: 600px;
}

.blog{
    width: 100%;
    height: 100%;

    padding: 0 1rem;

    background-color: var(--secondary-color--1);

    @include mixins.for-desktop-up{
        max-width: var(--width-desktop-up);
        margin: auto;
        padding: 0 2rem;

        border: 1px solid var(--highlight-color--2);
        border-radius: 1rem;
    }
}

.header{
    padding: 2rem 0;
    text-align: center;

    @include mixins.for-desktop-up{
        padding: 4rem 0;
    }

    &__heading{
        font-family: var(--highlight-font);
        font-size: 2.5rem;

        @include mixins.for-tablet-portrait-up{
            font-size: 3.5rem;
        }

        @include mixins.for-desktop-up{
            font-size: 5rem;
        }
    }

    &__description{
        margin: .5rem 0;

        color: var(--main-color);

        font-size: .9rem;
        letter-spacing: 2px;
        text-transform: lowercase;
    }
}

.navbar{

    &__list{
        list-style: none;

        .menu-on &{
            border-bottom: thin solid var(--main-color);
        }

        @include mixins.for-desktop-up{
            display: flex;
            justify-content: center;
            gap: 1rem;

            border-bottom: thin solid var(--main-color);
        }

        &__item{
            display: none;
            padding: 1rem;

            border-top: thin solid var(--secondary-color--2);

            font-size: .9rem;
            text-align: center;
            text-transform: lowercase;
            letter-spacing: 2px;

            &:first-child{
                background-color: var(--secondary-color--2);
            }

            &:hover{
                color: var(--main-color);

                cursor: pointer;
            }

            .menu-on &,
            &:first-child{
                display: block;
            }

            @include mixins.for-desktop-up{
                display: block;
                border: none;

                &:first-child{
                    display: none;
                }
            }
        }
    }
}

.content-wrapper{
    width: 100%;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include mixins.for-desktop-up{
        flex-direction: row;
        gap: 2rem;
    }
}

.post-area{
    flex: 3;

    @include mixins.for-desktop-up{
        padding-right: 2rem;
        border-right: thin solid var(--highlight-color--2);
    }
}

.posts{
    margin-bottom: 3rem;
}

.post{

    &--preview{
        padding: 2rem;
        border-top: thin solid var(--highlight-color--2);
        border-bottom: thin solid var(--highlight-color--2);

        text-align: center;

        @include mixins.for-desktop-up{
            text-align: left;
        }

        &:first-of-type{
            border-top: 0;
        }

        &:hover{
            background-color: var(--secondary-color--2);
            cursor: pointer;
        }

        .preview-wrapper{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mixins.for-desktop-up{
                flex-direction: row;
            }

            &__text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                @include mixins.for-desktop-up{
                    margin-top: 1rem;
                }
            }
        }
    }

    &__heading{
        padding-bottom: 1rem;
        color: var(--main-color);

        text-transform: capitalize;
        letter-spacing: 2px;
    }

    &__image{
        width: 100%;
        margin: auto;
    }

    &__content{
        &::first-letter{
            text-transform: uppercase;
        }
    }

    &__author{
        width: fit-content;
        margin: auto;
        padding: .5rem;

        color: var(--secondary-color--1);
        background-color: var(--main-color);

        font-size: .9rem;

        @include mixins.for-desktop-up{
            margin: initial;
        }

        &::before{
            content: 'Posted by ';
        }
    }
}

.pagination{

    &__list{
        display: flex;
        justify-content: center;
        gap: .5rem;

        list-style: none;
    }

    &__option{
        width: 2.5rem;
        height: 2.5rem;

        background-color: var(--secondary-color--2);
        color: var(--main-color);
        border-radius: 50%;
        font-size: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        @include mixins.for-desktop-up{
            width: 2rem;
            height: 2rem;

            background-color: initial;
            font-size: .9rem;
        }

        &:hover:not(&--disabled){
            background-color: var(--highlight-color--1);
            cursor: pointer;
        }

        &--selected{
            color: var(--secondary-color--1);
            background-color: var(--main-color);
        }

        &--disabled{
            color: var(--secondary-color--1);

            @include mixins.for-desktop-up{
                color: var(--secondary-color--2);
            }
        }
    }
}

.shortcut-home{
    width: 70%;
    margin: 1rem auto 0;
    padding-top: 1rem;

    color: var(--main-color);
    border-top: thin solid var(--highlight-color--2);

    font-weight: bold;
    font-size: .9rem;
    text-align: center;

    &:hover{
        cursor: pointer;
    }
}

.aside{
    flex: 1;
}

.profile{
    width: 100%;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__photo{
        width: 100%;
        border-radius: 50%;
    }

    &__description{
        padding-bottom: 2rem;
        border-bottom: thin solid var(--highlight-color--2);

        font-size: .8rem;
        text-align: center;
        letter-spacing: 1px;
    }
}

.archive{
    margin: 2rem 0;
    overflow: hidden;

    &__heading{
        color: var(--main-color);

        font-family: var(--highlight-font);
        font-size: 2rem;
        text-align: center;
    }

    &__subheading{
        width: fit-content;
        margin: 1rem auto;

        font-size: .7rem;
        letter-spacing: .5px;

        position: relative;
        &::before,
        &::after{
            width: 3rem;

            content: '';
            position: absolute;
            bottom: 50%;

            border-bottom: thin solid var(--highlight-color--2);
        }

        &::before{
            left: -4rem;
        }

        &::after{
            right: -4rem;
        }
    }

    &__list{
        width: 70%;
        margin: 1rem auto;
        list-style-type: none;
    }

    &__item{
        margin-bottom: .5rem;
        padding: .5rem;

        background-color: var(--highlight-color--1);
        border-radius: 1rem;

        font-size: 1rem;
        text-align: center;

        &:hover{
            background-color: var(--highlight-color--2);
            cursor: pointer;
        }

        &--author{
            margin-bottom: 0;
            color: var(--secondary-color--1);
            background-color: var(--main-color);

            &:hover{
                color: var(--default-color);
            }
        }
    }
}