@use "variables";
@use "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;    

    background-color: var(--secondary-color--2);
    color: var(--default-color);

    font-family: var(--main-font);
    font-size: 1.1rem;

    @include mixins.for-desktop-up{
        padding: 2rem;
    }
}

#root{
    width: 100%;
    height: 100%;
}

.blog{
    width: 100%;
    height: 100%;

    padding: 0 1rem;

    @include mixins.for-desktop-up{
        padding: 0 2rem;
    }

    background-color: var(--secondary-color--1);

    @include mixins.for-desktop-up{
        border: 1px solid var(--highlight-color--2);
        border-radius: 1rem;
    }
}

.header{
    padding: 2rem 0;
    text-align: center;

    @include mixins.for-desktop-up{
        padding: 4rem 0;
    }

    &__title{
        font-family: var(--highlight-font);
        font-size: 3.5rem;

        @include mixins.for-desktop-up{
            font-size: 5rem;
        }
    }

    &__description{
        margin: .5rem 0;

        color: var(--main-color);

        font-size: .9rem;
        letter-spacing: 2px;
        text-transform: lowercase;
    }
}

.navbar{

    &__list{
        list-style: none;

        .menu-on &{
            border-bottom: thin solid var(--main-color);
        }

        @include mixins.for-desktop-up{
            display: flex;
            justify-content: center;
            gap: 1rem;

            border-bottom: thin solid var(--main-color);
        }

        &__item{
            display: none;
            padding: 1rem;

            border-top: thin solid var(--secondary-color--2);

            font-size: .9rem;
            text-align: center;
            text-transform: lowercase;
            letter-spacing: 2px;

            &:first-child{
                background-color: var(--secondary-color--2);
            }

            &:hover{
                color: var(--main-color);

                cursor: pointer;
            }

            .menu-on &,
            &:first-child{
                display: block;
            }

            @include mixins.for-desktop-up{
                display: block;
                border: none;

                &:first-child{
                    display: none;
                }
            }
        }
    }
}
