@use "../variables";
@use "../mixins";

.post{

    &__heading{
        padding-bottom: 1rem;
        color: variables.$main-color;

        text-transform: capitalize;
        letter-spacing: 2px;
    }

    &__image{
        width: 100%;
        margin: auto;
    }

    &__content{
        &::first-letter{
            text-transform: uppercase;
        }

        &--full{
            &::first-letter{
                margin-left: 2rem;
            }
        }
    }

    &__footer{
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    &__author{
        font-size: .9rem;

        &::before{
            content: 'Posted by ';
        }
    }

    &--preview{
        padding: 2rem;
        border-top: thin solid variables.$highlight-color--2;
        border-bottom: thin solid variables.$highlight-color--2;

        text-align: center;

        @include mixins.for-desktop-up{
            text-align: left;
        }

        &:first-of-type{
            border-top: 0;
        }

        &:hover{
            background-color: variables.$secondary-color--2;
            cursor: pointer;
        }

        .preview-wrapper{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mixins.for-desktop-up{
                flex-direction: row;
            }

            .post__image{
                @include mixins.for-desktop-up{
                    flex: 1;
                }
            }

            &__text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                @include mixins.for-desktop-up{
                    margin-top: 1rem;
                    flex: 2;
                }
            }
        }

        .post__author{
            width: fit-content;
            margin: auto;
            padding: .5rem;

            color: variables.$secondary-color--1;
            background-color: variables.$main-color;

            @include mixins.for-desktop-up{
                margin: initial;
            }
        }
    }

    &--full{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .post__author{
            color: variables.$main-color;
            font-weight: bold;
        }
    }
}